VITE_STORE_NAME=Tienda
VITE_ADMIN_TOKEN=tienda123
VITE_WHATSAPP_NUMBER=51999999999
VITE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vR-73gOpAMS_setfhGK-KomVS5KXgXYyxhgHg5JjpvyERCGplTY1_rW1nkpoFfhtHslPNyjST8NT-q_/pub?gid=0&single=true&output=csv
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxtw4_utJclAcPRN70GTc0oFH-et4iEy2JUTk3bnJOOlSUVYpM_PVjF2ltmxwA0eM8/exec
VITE_CLOUDINARY_CLOUD_NAME=qryhuayx
VITE_CLOUDINARY_UPLOAD_PRESET=tienda_productos
